body
{
	background-color:#eeebe2;
	font-family:Arial, Unicode, MS;
}

.bg-up
{
	margin:0 auto;
}

.field 
{
	-moz-opacity:0.5;
	filter:Alpha(Opacity=50);
	border: none;
}

.download
{
	position:relative;
	background-image: url(../images/4_over.png);
	display: block;
}
.download a 
{
	display:block;
}
* html a:hover {visibility:visible}
.download a:hover img{visibility:hidden}

.mac
{
	position:relative;
	background-image: url(../images/7_over.png);
	background-repeat: no-repeat;
	display: block;
	width: 72x;
	height: 62px;
	margin: 0;
	margin-bottom:0px;
	padding: 0;
}
.mac a 
{
	display:block;
	width: 72px;
	height: 69px;
	margin: 0;
	padding: 0;
}
.mac img 
{
width: 100%; 
height: 100%; 
border: 0;
 }

#field:-moz-placeholder 
{ 
	font-style:italic; 
}

#menu1
{
	margin-top:-111px;
	margin-left:-613px;
}

#windows_button img
{
	margin-top: 2px;
}

#mac_button img
{
	margin-left:-5px;
	margin-top: 2px;
}

#linux_button img
{
	margin-left:-5;
	margin-top: 2px;
}

#up
{
	
	background : url(../images/bg.png) top center no-repeat;
	height:327px;
	margin:0 auto;
	z-index:50;
	position:center;
}

#banner
{
	background : url(../images/2.png) repeat-x;
	height:136px;
}

#cc
{
	background : url(../images/12.png) repeat-y;
	min-height:400px;
	width:866px;
	margin:0 auto;
}

#cc p
{
	margin-left:30px;
	margin-right:25px;
	margin-bottom:-10px;
}

#content
{
	margin-top:-10px;
}

#cup img
{

	width:866px;
		display: block;
    margin-left: auto;
    margin-right: auto ;
}

#footer
{
	margin-top:-20;
	background : url(../images/13.png) left repeat-x;
	height:290x;
}

#footer img
{
	height:268px;
    margin-left: middle;
    margin-right: middle;
	margin-top:22px;
}

#menu2
{
	margin-top:auto;
	margin-left:0;
}

#menu3
{
	margin-top:-170px;
	margin-left:auto;
}

#separator
{
	height:144px;
	margin-top: -190px;
	margin-left: -270px;
}

#separator2
{
	height:144px;
	margin-top: -144px;
	margin-left: 270px;
}

#see
{
	margin-left:60px;
	margin-top: -20px;
	color:white;
}

#see a:link
{
	color: #bababa;;
	text-decoration:none;
}

#see a:hover
{
	color:white;
}

#submenu
{
	margin-top:30px;
	margin-left:-380px;
	text-decoration:none;
	color:white;
}
#submenu a:link
{
	color: #bababa;
	text-decoration:none;
}

#submenu a:hover
{
	color:white;
}

#news
{
	margin-top: -60px;
	margin-left: 570px;
}

#news_footer
{
	margin-top: -100px;
	margin-left: 570px;
}

#news_form
{
	margin-left: 500px;
	margin-top: -35px;
}

#copyright 
{	
	color:white;
	text-align:center;
}

#copyright a:link
{
	color: #bababa;;
	text-decoration:none;
}

#copyright a:hover
{
	color:white;
}

#links
{	margin-top: -170px;
	margin-left: 320px;
	color:white;
	text-align:center;
}

#links :link
{
	color: #bababa;;
	text-decoration:none;
}

#links a:hover
{
	color:white;
}

#links2
{	margin-top: 20px;
	margin-left: 850px;
	color:white;
	text-align:center;
}

#links2 :link
{
	color: #bababa;;
	text-decoration:none;
}

#links2 a:hover
{
	color:white;
}